body {
    width: 55%;
}

#testata {
    background-color:  #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 35%;
    height: 88px;
}

#logo {
    background-image: url(../img/logo.svg);
    height: 88px;
    background-size: 15%;
    background-position: bottom left;
    background-repeat: no-repeat;
}

#titolo {
    font-size: 40px;
    margin: 0px;
}

.undertext {
    color: lightgrey;
    font-size: 20px;
    
}

.linkrel {
    color: #20A9E5;
    text-decoration: none;   
}

.smalltext {
    font-size: 15px;
}

.evidenziatore {
    background-color: yellow;
}

table {
    width: 100%;
    height: auto;
    font-size: 12px;
    border-spacing: unset;
    
}

thead {
    text-align: left;
    color: white;
    background-color:  #20A9E5;
}

.ridimension {
    width: 600px;
}

.rscura {
    background-color: #B1E5F2 ;
}

.monitor {
    width: 200px;
    height: 180px;
    background-image: url(../img/monitor.jpg);
    background-position: center;
    font-size: 18px;
}

.graph {
    width: 200px;
    height: 180px;
    background-image: url(../img/graph.jpg);
    background-position: center;
    font-size: 18px;
}

.footer {
    margin-top: 0;
    padding-left: 5px;
    padding-top: 5px;
    color: white;
}