body {
    width: 55%;
}

#testata {
    background-color:  #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 35%;
    height: 88px;
}

#logo {
    background-image: url(../img/logo.svg);
    height: 88px;
    background-size: 15%;
    background-position: bottom left;
    background-repeat: no-repeat;
}

#titolo {
    font-size: 40px;
    margin: 0px;
}

.undertext {
    color: lightgrey;
    font-size: 20px;
    
}

.linkrel {
    color: #20A9E5;
    text-decoration: none;   
}

.smalltext {
    font-size: 15px;
}
